/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 09:40:53 PM
    Author     : ABEL
*/

*{
    margin: 0;
    padding: 0;
}

.xd{
    margin-left: 400px;
}

body{
    background: url(../imagen/sistemaintegrado.jpg);
}

body{
   
    font-family: 'Raleway';
    font-size: 14px;
}

.navegacion{
	width: 100%;
}

.navegacion nav{
	width: 100%;
	max-width: 1100px;
	background: #2D3447;
	margin: 40px auto;
}

.navegacion nav ul{
	list-style: none;
	position: relative;
}

.navegacion nav > ul > li{
	display: inline-block;
}

.navegacion nav > ul > li > a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 20px;
}

.navegacion nav > ul > li > a span{
	font-size: 20px;
	position: absolute;
	bottom: -8px;
	display: none;
}

.navegacion nav > ul > li:hover span{
	display: block;
}

.box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.box select{
    background: #0563af;
    color:#fff;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    
}